<div class="container-fluid p-0">
  <%# nav start here %>
  <%= render 'projects/nav' %>
  <%# header start here %>
  <header class="header container-fluid bg-white p-0 pos-rel">
    <div class="header-wrapper m-auto">
      <div class="">
        <h1 class="h1-title">I'm Will Nyamunokora,</h1>
        <h3 class="h2-title font-weight-light">Full Stack Web Developer</h3>
      </div>
      <ul class="c-hd p-0 font-14">
        <li class="p-hd m-0">Front-End: - Javascript, HTML5, CSS3, Bootstrap</li>
        <li class="p-hd m-0">Back-End: - Ruby, Rails, SQL</li>
        <li class="p-hd m-0">Tools & Methods: - Git, GitHub, Heroku, RSpec, TDD, Ps, Ai</li>
        <li class="p-hd m-0">Professional: - Remote Pair-Programming, Teamwork, Mentoring</li>
        <li class="p-hd m-0">Learning: - React & Redux</li>
      </ul>
      <div class="pro-lang mb-3 font-15">
        <p class="lang-span pl-0 ml-0 font-16 tag-blue font-weight-bold">LET'S CONNECT</p>
      </div>
      <div class="media-share pb-3">
        <a href="https://github.com/BigWizzo" class="tag-blue"><i class="fab fa-github-square font-25"></i></a>
        <a href="https://www.linkedin.com/in/willnyamunokora" class="tag-blue"><i class="fab fa-linkedin font-25"></i></a>
        <a href="https://twitter.com/willnyamunokora" class="tag-blue"><i class="fab fa-twitter font-25"></i></a>   
      </div>
    </div>
    <div class="circle-rec-1 pos-abs"></div>
    <div class="circle-small-2 br-50 pos-abs"></div>
    <div class="circle-small-3 br-50 pos-abs"></div>
    <div class="circle-small-4 br-50 pos-abs"></div>
    <div class="circle-small-5 br-50 pos-abs"></div>
  </header>

  <main class="main container-xl">
    <%# project section starts here %>
    <div class="pro-section mx-auto">
      <div class="row bg-white my-4 border box-dw">
        <div class="feature-img-div col-md-6 p-0">
          <%= image_tag("rails-capstone.jpg", class: "card-img", alt: "rails-capstone") %>
        </div>
        <div class="card-body col-md-6 ranking-border">
          <h5 class="pro-title fam-hd font-weight-bold mb-0">
            Building with responsive design:
          </h5>
          <div class="">
            <span class="pro-stack font-13 text-info">FULL STACK</span>
          </div>
          <p class="pro-content mt-2 mb-2 font-15">
            StudyMate is a Study management System that allows students to clock in their studies based on their subjects. They can track the number of hours they spend studying on a specific subject.
          </p>
          <div class="pro-lang mb-3 font-15">
            <span class="lang-span font-12 tag-bg-blue tag-blue font-italic">Ruby</span>
            <span class="lang-span font-12 tag-bg-blue tag-blue font-italic">HTML</span>
            <span class="lang-span font-12 tag-bg-blue tag-blue font-italic">CSS</span>
          </div>
          <button type="button" class="btn bg-blue btn-sm font-weight-light"><a class="text-white" href="https://github.com/BigWizzo/RoR-Capstone" target="_blank">source</a></button>
          <button type="button" class="btn bg-blue btn-sm font-weight-light"><a class="text-white" href="https://whispering-ocean-64491.herokuapp.com/" target="_blank">demo</a></button>
        </div>
      </div>
      <div class="row bg-white my-4 border box-dw">
        <div class="feature-img-div col-md-6 order-md-last p-0">
          <%= image_tag("html-css-capstone.jpg", class: "card-img", alt: "html-css-capstone") %>
        </div>
        <div class="card-body col-md-6 order- order-md-first ranking-border">
          <h5 class="pro-title fam-hd font-weight-bold mb-0">
            The Super Space Trone Launch
          </h5>
          <div class="">
            <span class="pro-stack font-13 text-info">FRONT END</span>
          </div>
          <p class="pro-content mt-2 mb-2 font-15">
            This project is based on a website for a fictional conference, the Super Space Trone Launch that will take place in Johannesburg this year.
          </p>
          <div class="pro-lang mb-3 font-15">
            <span class="lang-span font-12 tag-bg-blue tag-blue font-italic">Ruby</span>
            <span class="lang-span font-12 tag-bg-blue tag-blue font-italic">HTML</span>
            <span class="lang-span font-12 tag-bg-blue tag-blue font-italic">CSS</span>
          </div>
          <button type="button" class="btn bg-blue btn-sm font-weight-light"><a class="text-white" href="https://github.com/BigWizzo/html-css-capstone" target="_blank">source</a></button>
          <button type="button" class="btn bg-blue btn-sm font-weight-light"><a class="text-white" href="https://bigwizzo.github.io/html-css-capstone/" target="_blank">demo</a></button>
        </div>
      </div>
      <div class="row bg-white my-4 border box-dw">
        <div class="feature-img-div col-md-6 p-0">
          <%= image_tag("neews-week.jpg", class: "card-img", alt: "news week") %>
        </div>
        <div class="card-body col-md-6 ranking-border">
          <h5 class="pro-title fam-hd font-weight-bold mb-0">
            Using Bootstrap
          </h5>
          <div class="">
            <span class="pro-stack font-13 text-info">FULL STACK</span>
          </div>
          <p class="pro-content mt-2 mb-2 font-15">
            This project replicates the news site Newsweek.com. It is built using the Bootstrap framework.
          </p>
          <div class="pro-lang mb-3 font-15">
            <span class="lang-span font-12 tag-bg-blue tag-blue font-italic">BOOTSTRAP</span>
            <span class="lang-span font-12 tag-bg-blue tag-blue font-italic">HTML</span>
            <span class="lang-span font-12 tag-bg-blue tag-blue font-italic">CSS</span>
          </div>
          <button type="button" class="btn bg-blue btn-sm font-weight-light"><a class="text-white" href="https://github.com/BigWizzo/newsweek-clone" target="_blank">source</a></button>
          <button type="button" class="btn bg-blue btn-sm font-weight-light"><a class="text-white" href="https://bigwizzo.github.io/newsweek-clone/" target="_blank">demo</a></button>
        </div>
      </div>
      <div class="row bg-white my-4 border box-dw">
        <div class="feature-img-div col-md-6 order-md-last p-0">
          <%= image_tag("ruby-capstone-linters.jpg", class: "card-img", alt: "ruby-capstone-linters") %>
        </div>
        <div class="card-body col-md-6 order- order-md-first ranking-border">
          <h5 class="pro-title fam-hd font-weight-bold mb-0">
            CSS3 Linter
          </h5>
          <div class="">
            <span class="pro-stack font-13 text-info">FULL STACK</span>
          </div>
          <p class="pro-content mt-2 mb-2 font-15">
            A CSS linter terminal application developed in Ruby. It provides feedback about errors or warnings in CSS code.
          </p>
          <div class="pro-lang mb-3 font-15">
            <span class="lang-span font-12 tag-bg-blue tag-blue font-italic">Ruby</span>
            <span class="lang-span font-12 tag-bg-blue tag-blue font-italic">HTML</span>
            <span class="lang-span font-12 tag-bg-blue tag-blue font-italic">CSS</span>
          </div>
          <button type="button" class="btn bg-blue btn-sm font-weight-light"><a class="text-white" href="https://github.com/BigWizzo/ruby-capstone-linters" target="_blank">source</a></button>
        </div>
      </div>
      <div class="row bg-white my-4 border box-dw">
        <div class="feature-img-div col-md-6 p-0">
          <%= image_tag("building-with-responsive-design.jpg", class: "card-img", alt: "building-with-responsive-design") %>
        </div>
        <div class="card-body col-md-6 ranking-border">
          <h5 class="pro-title fam-hd font-weight-bold mb-0">
            Building with responsive design:
          </h5>
          <div class="">
            <span class="pro-stack font-13 text-info">FRONT END</span>
          </div>
          <p class="pro-content mt-2 mb-2 font-15">
            This project consists of replicating the <a href="https://thenextweb.com/">The Next Web</a> website putting emphasis on how it behaves differently depending on the size of the screen where the website is rendered.
          </p>
          <div class="pro-lang mb-3 font-15">
            <span class="lang-span font-12 tag-bg-blue tag-blue font-italic">BOOTSTRAP</span>
            <span class="lang-span font-12 tag-bg-blue tag-blue font-italic">HTML</span>
            <span class="lang-span font-12 tag-bg-blue tag-blue font-italic">CSS</span>
          </div>
          <button type="button" class="btn bg-blue btn-sm font-weight-light"><a class="text-white" href="https://github.com/cvilla714/responsivedesign" target="_blank">source</a></button>
          <button type="button" class="btn bg-blue btn-sm font-weight-light"><a class="text-white" href="https://cvilla714.github.io/responsivedesign/" target="_blank">demo</a></button>
        </div>
      </div>
    </div>
  </main>

  <%# About starts here %>
  <article class="about-my container-fluid bg-white">
    <div class="about-wrapper row">
      <div class="card-body col-md-6 ranking-border">
        <h5 class="pro-title fam-hd font-weight-bold mb-0">
          A Full Stack Web Developer
        </h5>
        <div class="">
          <span class="pro-stack font-12 text-info">JAVASCRIPT | CSS | HTML | RUBY | RAILS</span>
        </div>
        <p class="pro-content mt-2 mb-2 font-15">
          I have demonstrated the ability to utilize my knowledge and skills to propel and improve organisational projects and processes to optimize efficiency and productivity.
        </p>
        <div class="pro-lang mb-3 font-15">
          <p class="lang-span pl-0 ml-0 font-16 tag-blue font-weight-bold">WNNWILLARD@GMAIL.COM</p>
        </div>
        <div class="media-share pb-3">
          <a href="https://github.com/BigWizzo" class="tag-blue"><i class="fab fa-github-square font-25"></i></a>
          <a href="https://www.linkedin.com/in/willnyamunokora" class="tag-blue"><i class="fab fa-linkedin font-25"></i></a>
          <a href="https://twitter.com/willnyamunokora" class="tag-blue"><i class="fab fa-twitter font-25"></i></a>   
        </div>
        <button type="button" class="btn bg-blue pro-btn font-weight-light"><a class="text-white" href="https://docs.google.com/document/d/11de406apsNKtMN0cdfaKDFyLQzUdb5xsXSErLo0p4ek/edit?usp=sharing" target="_blank">GET MY RESUME</a></button>
      </div>                                                                                                                                              
      <div class="accordion col-md-6" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-center font-14 font-weight-bolder" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                LANGUAGES
              </button>
            </h2>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body row">
              <div class="lang col-12 col-sm-6">
                <div class="set row rounded bg-lang text-white py-1">
                  <div class="set-img col-3">
                    <i class="fab fa-js font-20"></i>
                  </div>
                  <div class="att col-9 font-13">JAVASCRIPT</div>
                </div>
              </div>
              <div class="lang col-12 col-sm-6">
                <div class="set row rounded bg-lang text-white py-1">
                  <div class="set-img col-3">
                    <i class="fas fa-registered"></i>
                  </div>
                  <div class="att col-9 font-13">RUBY</div>
                </div>
              </div>
              <div class="lang col-12 col-sm-6">
                <div class="set row rounded bg-lang text-white py-1">
                  <div class="set-img col-3">
                    <i class="fab fa-html5"></i>
                  </div>
                  <div class="att col-9 font-13">HTML5</div>
                </div>
              </div>
              <div class="lang col-12 col-sm-6">
                <div class="set row rounded bg-lang text-white py-1">
                  <div class="set-img col-3">
                    <i class="fab fa-css3-alt"></i>
                  </div>
                  <div class="att col-9 font-13">CSS3</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-center font-14 font-weight-bolder collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                FRAMEWORKS
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body row">
              <div class="lang col-12 col-sm-6">
                <div class="set row rounded bg-lang text-white py-1">
                  <div class="set-img col-3">
                    <i class="fab fa-bootstrap"></i>
                  </div>
                  <div class="att col-9 font-13">BOOTSTRAP</div>
                </div>
              </div>
              <div class="lang col-12 col-sm-6">
                <div class="set row rounded bg-lang text-white py-1">
                  <div class="set-img col-3">
                    <i class="fas fa-registered"></i>
                  </div>
                  <div class="att col-9 font-13">RAILS</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-center font-14 font-weight-bolder collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                SKILLS
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body row">
              <div class="lang col-12 col-sm-6">
                <div class="set row rounded bg-lang text-white py-1">
                  <div class="set-img col-3">
                    <i class="fas fa-code-branch"></i>
                  </div>
                  <div class="att col-9 font-13">GIT</div>
                </div>
              </div>
              <div class="lang col-12 col-sm-6">
                <div class="set row rounded bg-lang text-white py-1">
                  <div class="set-img col-3">
                    <i class="fas fa-desktop"></i>
                  </div>
                  <div class="att col-9 font-13">REMOTE</div>
                </div>
              </div>
              <div class="lang col-12 col-sm-6">
                <div class="set row rounded bg-lang text-white py-1">
                  <div class="set-img col-3">
                    <i class="fab fa-houzz"></i>
                  </div>
                  <div class="att col-9 font-13">HEROKU</div>
                </div>
              </div>
              <div class="lang col-12 col-sm-6">
                <div class="set row rounded bg-lang text-white py-1">
                  <div class="set-img col-3">
                    <i class="fab fa-github-square"></i>
                  </div>
                  <div class="att col-9 font-13">GITHUB</div>
                </div>
              </div>
              <div class="lang col-12 col-sm-6">
                <div class="set row rounded bg-lang text-white py-1">
                  <div class="set-img col-3">
                    <i class="fas fa-exclamation-circle"></i>
                  </div>
                  <div class="att col-9 font-13">RSPEC</div>
                </div>
              </div>
              <div class="lang col-12 col-sm-6">
                <div class="set row rounded bg-lang text-white py-1">
                  <div class="set-img col-3">
                    <i class="fas fa-vial"></i>
                  </div>
                  <div class="att col-9 font-13">TDD</div>
                </div>
              </div>
              <div class="lang col-12 col-sm-6">
                <div class="set row rounded bg-lang text-white py-1">
                  <div class="set-img col-3">
                    <i class="fab fa-product-hunt"></i>
                  </div>
                  <div class="att col-9 font-13">PHOTOSHOP</div>
                </div>
              </div>
              <div class="lang col-12 col-sm-6">
                <div class="set row rounded bg-lang text-white py-1">
                  <div class="set-img col-3">
                    <i class="fas fa-info"></i>
                  </div>
                  <div class="att col-9 font-13">illustrator</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>

  <%# footer starts here %>
  <footer class="footer container-fluid bg-white px-0">
    <div class="ft-inner bg-blue text-white py-5 d-flex flex-column">
      <div class="ft-body-wrap w-75 m-auto">
        <div class="form-div-inner m-auto">
          <div class="ft-title text-center">
            <h4>Contact Me</h4>
          </div>
          <div class="ft-content text-center">
            <%# <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero distinctio animi</p> %>
          </div>
          <div class="">
            <div class="">
              <form>
                <div class="form-group">
                  <label for="fullname">Full Name</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control">
                </div>
                <div class="form-group">
                  <label for="message">Message</label>
                  <textarea name="subject" class="form-control"></textarea>
                </div>
                <button type="submit" class="btn btn-light btn-lg btn-block">Submit</button>
              </form>
            </div>
          </div>
        <div class="media-share p-3 text-center">
          <a href="https://github.com/BigWizzo" class="text-dark"><i class="fab fa-github-square font-25"></i></a>
          <a href="https://www.linkedin.com/in/willnyamunokora" class="text-dark"><i class="fab fa-linkedin font-25"></i></a>
          <a href="https://twitter.com/willnyamunokora" class="text-dark"><i class="fab fa-twitter font-25"></i></a>   
        </div>
        </div>
      </div>
    </div>
  </footer>
</div>